* {
  box-sizing: border-box;
  /* для плавного скролла по якорным ссылкам */
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  background-color: #fff1f5;
}

.ml100 {
  margin-left: 100px;
}

.mr100 {
  margin-right: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.abs_l0 {
  left: 0;
}

.abs_r0 {
  right: 0;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.purple {
  color: purple;
}
.cadetblue {
  color: cadetblue;
}

.small-text {
  font-size: 20px;
}

.small-text::before {
  color: red;
  content: "*";
}

.up {
  position: fixed; /* фиксированное положение */
  bottom: 50px; /* отступ от нижней части экрана */
  right: 50px; /* отступ справа */
  cursor: pointer; /* вид курсора при наведении */
  background-color: #fff;
  border-radius: 50%;
}

.up > img {
  width: 100px;
}

/* купон на скидку */
.coupone {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}
.coupone-img {
  width: 60%;
}

.coupone-close {
  position: absolute;
  font-weight: 700;
  font-size: 80px;
  top: 20px;
  left: 20px;
  color: gray;
  padding: 20px 30px;
  border-radius: 50%;
  border: 1px solid gray;
  cursor: pointer;
}

.coupone-close:hover {
  color: #fff;
  background-color: rgb(37, 35, 35);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* любая линка на которой висит телефон */
.tel-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  font-weight: 700;
}

.tel-link::before {
  content: "";
  background-image: url("../img/phone.png");
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  top: 0;
  right: -45px;
}

.mobile-menu {
  width: 60px;
  height: 40px;
  cursor: pointer;
  display: none;
  margin-top: 20px;
}

.main {
  flex: 1 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #9b3755;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 100px;
  color: #ffc6c8;
}

.header-logo {
  display: flex;
  height: 40px;
  line-height: 100px;
  text-transform: uppercase;
  position: relative;
  user-select: none;
  margin-right: 70px;
}

.header-logo::before {
  position: absolute;
  content: "";
  top: 25px;
  right: -50px;
  background-image: url("../img/logo-small.png");
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  box-shadow: 1px 1px 5px #000;
  border-radius: 50%;
}

.header-nav {
  display: flex;
}

.header-nav__link {
  text-decoration: none;
  color: #ffc6c8;
  line-height: 100px;
  margin-left: 30px;
}

.header-nav__link:hover {
  color: aquamarine;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-text {
  max-width: 50%;
  text-align: justify;
  line-height: 50px;
}

.info-text > b {
  font-weight: 700;
}

.info-worktime {
  line-height: 60px;
  text-align: left;
  margin-left: 50px;
}

.info-worktime__text {
  margin-bottom: 20px;
}

.info-img {
  height: fit-content;
}

.slider {
  display: flex;
}

.slider-images {
  margin: 0 auto;
  position: relative;
}

.slider-img {
  width: 1200px;
}

.slider-btn {
  position: absolute;
  height: 100%;
  width: 15%;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 50px;
}

.slider-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  bottom: 20px;
  user-select: none;
}

.btn-left:hover {
  background: linear-gradient(
    -90deg,
    rgba(255, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.btn-right:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.assortment-element {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 25px;
}
.dampers {
  margin-left: 50px;
}
.dampers-discount {
  margin-bottom: 30px;
  line-height: 40px;
}

.dampers-list {
  list-style: circle;
  margin-bottom: 30px;
  padding-left: 60px;
}

.dampers-coupon {
  color: rgb(112, 157, 216);
  cursor: pointer;
  margin-bottom: 30px;
}

.dampers-coupon:hover {
  text-decoration: underline;
}

.assortment-element__head {
  font-weight: 700;
  padding: 40px;
  text-align: center;
  cursor: pointer;
}
.assortment-element__head:hover {
  background-color: #fff;
}
.assortment-element__descr {
  line-height: 60px;
  margin: 20px 40px;
  display: none;
}

.production-time {
  margin-top: 50px;
  margin-left: 10px;
}
.suppliers-table {
  margin: 0 auto;
  width: 70%;
}

.suppliers-table th {
  font-weight: 700;
}

.suppliers-table__coldesc {
  font-weight: 700;
}

.suppliers-table th,
td {
  padding: 15px 10px; /* Поля вокруг содержимого таблицы */
  border: 1px solid black; /* Параметры рамки */
  text-align: center;
}

.suppliers-table td {
  width: 50%;
}

.suppliers-table th {
  border: none;
  padding-bottom: 25px;
  font-size: larger;
  user-select: none;
}
.suppliers-table__coldesc {
  background-color: rgb(241, 226, 226);
  user-select: none;
  cursor: initial;
}

.suppliers-table__row:hover {
  cursor: pointer;

  background-color: rgb(241, 226, 226);
}

.footer {
  background-color: gray;
  height: 50px;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}

.footer-text {
  line-height: 50px;
}

/* замена пунктов в хедере на выпадающий список при слишком маленьком разрешении */
@media only screen and (max-device-width: 1300px) {
  .slider-img {
    width: 100%;
  }
  .info {
    flex-direction: column-reverse;
    text-align: center;
  }
  .info-text {
    max-width: 90%;
    margin-left: 30px;
  }

  .info-img {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .header-nav {
    display: none;
    background-color: #9b3755;
    flex-direction: column;
    position: absolute;
    width: 100%;
    text-align: left;
    top: 80px;
  }

  .header-nav__link {
    margin-right: 50px;
  }

  .mobile-menu {
    display: block;
    margin-left: 30px;
  }

  .production-time {
    text-align: center;
    margin-left: 0;
  }
}
