.text-info {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}
.text-info_input{
  width: 100%;
}

.slider-pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider-pic {
  margin-bottom: 20px;
  width: 30%;
}

.slider-pic__img {
  display: block;
  width: 100%;
}

.slider-pic__text {
  display: block;
  width: 100%;
}

.low-price__text{
  width: 70%;
  margin-right: 10px;
}

.assortment-elem {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.assortment-elem__head {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
}

.assortment-elem__descr {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
}

.assortment-elem__btn {
  margin-bottom: 50px;
}
